CompileFlags:
	Add:
    - "--include-directory=/Users/angelzuniga/Documents/programas/learning/Chiper/include/"
    - "--include-directory=/Users/angelzuniga/Documents/programas/learning/Chiper/src/"
    - "-std=c++20"