CompileFlags:
	Add:
    - "--include-directory=/Users/angelzuniga/Documents/programas/learning/Laberinto/include/"
    - "--include-directory=/Users/angelzuniga/Documents/programas/learning/Laberinto/src/"
    - "-std=c++20"