CompileFlags:
	Add:
    - "--include-directory=/Users/angelzuniga/Documents/programas/learning/Laberinto2D/include/"
    - "--include-directory=/Users/angelzuniga/Documents/programas/learning/Laberinto2D/src/"
    - "-std=c++20"