CompileFlags:
	Add:
    - "--include-directory=/Users/angelzuniga/Documents/bamtamg-prueba/Laberinto2D/include/"
    - "--include-directory=/Users/angelzuniga/Documents/bamtamg-prueba/Laberinto2D/src/"
    - "-std=c++20"